name: Use Secrets

on: [workflow_dispatch]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Use secret

        run: |

          echo "Username is ${{ secrets.DB_USER }}"

          echo "Password length is ${#DB_PASSWORD}"

        env:

          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
